body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

p{
  text-align: justify;
  margin-right: 20px;
}


.nav-bar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.nav-bar a.active {
  background-color: #8DB3B9;
  color: white;
}

.section-margin{
  margin-bottom: 30px;
}

.nav-bar a:hover:not(.active) {
  background-color: #CCDDE0;
  color: white;
}

div.content {
  margin-left: 350px;
  padding: 6px 16px;
  height: 1000px;
}

div.page {
  /* min-height: 553px; */
  padding-bottom: 30px;
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  div.page {
    min-height: 422px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  div.page {
    min-height: 1346px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  div.page {
    min-height: 430px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width : 701px) and  (max-width: 900px) {
  div.page {
    min-height: 995px;
    padding-bottom: 30px;
  }
}

.avatar {
  width: 180px;
  height: 180px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* margin-left: 14px; */
  border-width: 52px;
  /* vertical-align: middle; */
  border: 3px solid #8DB3B9;
  object-fit: cover;
  /* margin: 10px 10px 10px 20px; */
  text-align: center;
  margin-top: 15px;
}

.pro-img {
  /*height: 38%;*/
  vertical-align: middle;
  text-align: center;
  margin-bottom: 7px;
  height: 220px;
}

.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.li-border {
  border-bottom: 0.7px solid lightgrey;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .nav-bar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  .nav-bar a {
    text-align: center;
    float: none;
  }
}

.slider {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 15px;
}

.sliderItem {
  /* width: 15%;*/
  height: 46px;
  display: inline-block;
  padding-left: 8px;
}

.flag-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.flagline-margin {
  margin-bottom: 0.7px;
}

.contact-flag {
  background-color: #85C7DE;

}

.contact-line {
  border: 1px solid #85C7DE;
}

.skills-flag {
  background-color: #A0C4E2;
}

.skills-line {
  border: 1px solid #A0C4E2;
}

.home-flag {
  background-color: #CFE8EF;
  display: none;
}

.home-line {
  border: 1px solid #CFE8EF;
  display: none;
}

.about-flag {
  background-color: #C6DBF0;
}

.about-line {
  border: 1px solid #C6DBF0;
}

.portfolio-flag {
  background-color: #AED1E6;
}

.portfolio-line {
  border: 1px solid #AED1E6;
}

.btn-color {
  background-color: #8DB3B9;
  width: -webkit-fill-available;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  background: gray no-repeat center center rgba(0, 0, 0, 0.25)
}

.loader {
  vertical-align: middle;
  text-align: center;
  background: url('https://loading.io/asset/383720') no-repeat center center;
}

.overlay{
  background-color: rgba(16, 18, 21, 0.42);
	z-index: 1;
}

article {
  margin: 20px;
  font-family: verdana, sans serif;
  font-size: 16px;
}

p {
  margin-top: 20px;
}

.example-container {
  clear: both;
  margin-top: 20px;
  margin-left: 20px;
}

.caption {
  font-style: italic;
  color: BlueViolet;
  margin-top: 40px;
}

.caption-subhead {
  font-style: normal;
  font-weight: bold;
}

.image-example {
  float: left;
  width: 285px;
  height: 180px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 60px;
  margin: 5px 20px 20px 0;
  background-size: cover
}

.hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media only screen and (min-device-width : 300px) and (max-device-width : 700px) {
  .img-size {
    min-width: 94% !important;
  }
}

.project-tile {
  background-color: #e9ecef;
  float: none;
  display: inline-block;
  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, .46), inset -1px -1px 1px 1px #adb5bd;
  margin: 0.5px;
  border: 1px solid #dee2e6;
  margin-top: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.anchor-tile {
  color: #000000 !important;
  text-decoration: none !important;
}

/* .anchor-tile:hover{
    color: #000000 !important;
  } */

.project-tile:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.02);
  }
}

.wrapper {
  overflow: hidden;
  margin-top: 15px;
}

.wrapper div {
  padding: 10px 10px 10px 0
}



#one {
  background-color: white;
  float: left;
  margin-right: 20px;
  width: 50%;
}

#two {
  background-color: white;
  overflow: hidden;
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  #one {
    float: none;
    margin-right: 0px;
    width: auto;
    border: 0;
  }

  #two {
    margin-top: -17px;
  }
}




#one .wide {
  color: #73a7df;
}

#two .wide {
  color: #73a7df;
}

.back {
  margin-bottom: 20px;
  border-radius: 0 20px 20px 0;
}

.skill {
  background: linear-gradient(90deg, #81EBF5 0%, #31B1CF 100%);
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  border-radius: 0 20px 20px 0;
}

.skill-content{
}

.text-percent {
  position: relative;
  top: -15px;
}

.email-from {
  float: left;
  width: 60%;
}

.contact-detail {
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
}

#contact_social {
  display: None;
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  .email-from {
    float: none;
    margin-right: 0px;
    width: auto;
    border: 0;
  }

  .contact-detail {
    margin-top: 30px;
    text-align: center !important;
  }

  #contact_social {
    display: block;
  }
}

.contact-margin {
  margin-bottom: 25px;
}


/*--------------------------------time line css start-------------------------------*/

header:after,
#timeline .timeline-item:after,
header:before,
#timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 0px !important;
}



.project-name {
  text-align: center;
  padding: 10px 0;
}

header {
  background: #2b2e48;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #c6dbf0;
  float: left;
  font-family: "Dosis", arial, tahoma, verdana;
  font-size: 22px;
  font-weight: 500;
}

header .logo>span {
  color: #f7aaaa;
  font-weight: 300;
}

header .social {
  float: right;
}

header .social .btn {
  font-family: "Dosis";
  font-size: 14px;
  margin: 10px 5px;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #c6dbf0;
  left: 50%;
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  background: #c6dbf0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}

#timeline .timeline-item .timeline-content {
  width: 46%;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.timeline-item h1{
  font-size: 32px !important;
}

.timeline-item h2{
  font-size: 24px !important;
}
.timeline-item h3{
  font-size: 18.72px !important;
}
.timeline-item h4{
  font-size: 16px !important;
}
.timeline-item h5{
  font-size: 13.28px !important;
}
.timeline-item h6{
  font-size: 10.72px !important;
}

#about_me p{
  margin-right: 0px !important;
}

#timeline .timeline-item .timeline-content h3 {
  padding: 9px;
  background: #c6dbf0;
  color:#38a3ff;
  margin: -12px -12px 0px -11px;
  font-weight: 500;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 46.2%;
  top: 11px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #c6dbf0;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 46.1%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #c6dbf0;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #c6dbf0;
  color: #c6dbf0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #c6dbf0;
  -moz-box-shadow: 2px 2px 0 #c6dbf0;
  -ms-box-shadow: 2px 2px 0 #c6dbf0;
  box-shadow: 2px 2px 0 #c6dbf0;
}

.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }

  #timeline:before {
    left: 0;
  }

  #timeline .timeline-item .timeline-content {
    width: 91%;
    float: right;
  }

  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -11px;
    border-left: 0;
    border-right: 7px solid #c6dbf0;
  }

  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

.smalldesc {
  overflow: hidden;
  display: none;
}

.smalldesc.expand {
  max-height: 500px;
}


@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.lastelem-timeline {
  margin-bottom: 10px !important;
}

/*--------------------------------time line css End-------------------------------*/

/*--------------------------------hamburger for mobile start-------------------------------*/

#menuToggle{
  display: none;
}

.sidebar{
  overflow: inhert !important;
}

@media screen and (min-width : 300px) and  (max-width: 700px) {
  .main-menu {
    display: none
  }

  .nav-bar{
    position: fixed !important;
    margin: -138px -0px 0px -51px !important;
    z-index: 2;
    width: 100%;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: -150px;
    left: 50px;
  
    z-index: 1;
  
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #232323;
  
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato;
  }
  
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 11px;
    left: 14px;
  
    cursor: pointer;
  
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
  }
  
  /*
    * Just a quick hamburger
    */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #007bff;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
    * But let's hide the middle one.
    */
  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
    * Ohyeah and the last one should go the other direction
    */
  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
    * Make this absolute positioned
    * at the top left of the screen
    */
  #menu {
    position: absolute;
    width: 420px;
    margin: -55px 0 0 -58px;
    padding-top: 55px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  
  #menu li {
    font-size: 22px;
  }
  
  /*
    * And let's slide it in from the left
    */
  #menuToggle input:checked~ul {
    transform: none;
  }

  #menuToggle li a:active{
    transform: none;
  }

  .ham-back{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    height: 55px;
    animation:fadeIn 0.5s linear;
  }

  @keyframes fadeIn {
    0% {
      opacity:0
    }
    100% {
      opacity:1;
    }
  }

  .ham-pad{
    padding-top: 18px;
    padding-left: 18px;
  }

}

/*--------------------------------hamburger for mobile end-------------------------------*/


/*----------------------------------Home Page start------------------------------------------*/

.home-pad{
  padding-top: 100px;
  padding-left:100px;
}

.home-pad h1{
  font-size: 60px !important;
}

.home-pad h4{
  font-size: 15px;
}

.home-pad h3{
  font-size: 20px;
}

#home h2{
  padding-top: 20px;
  color: #98d1e4;
}

.home-back{
  background: aliceblue;
}

.home-pad h1{
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.getintouch-btn-style{
  border: #007bff 1px double !important;
  float: right;
    /* padding-right: 9px; */
  margin-right: 20px;
}

.getintouch-btn-top{
    margin-top: 40px;
}

@media screen and  (max-width: 1024px) {
  .home-pad{
    padding-top: 287px;
    padding-left: 58px;
  }
  
  .home-pad h1{
    font-size: 100px !important;
  }
  
  .home-pad h4{
    font-size: 30px;
  }
  
  .home-pad h3{
    font-size: 40px;
  }

  #home h2{
    font-size: 52px;
  }

  .getintouch-btn-top{
    margin-top: -5px;
  }

 
}

@media screen and  (min-width : 901px) and (max-width: 1023px) {
  .getintouch-btn-top{
    margin-top: -8px;
  }
}


@media screen and  (min-width : 300px) and (max-width: 700px) {
  .home-pad{
    padding-top: 18px;
    padding-left: 12px;
  }
  
  .home-pad h1{
    font-size: 40px !important;
  }
  
  .home-pad h4{
    font-size: 16px !important;
  }
  
  .home-pad h3{
    font-size: 17px !important;
  }

  #home h2{
    padding-top: 0px !important;
    font-size: 32px;
  }

  .getintouch-btn-top{
    margin-top: 10px;
  }

  #home{
    min-height: 475px !important;
  }
}

/*----------------------------------Home Page end------------------------------------------*/

@media screen and  (min-width : 701px) and (max-width: 900px) {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  div.content {
    margin-left: 250px;
    padding: 6px 16px;
    height: 1000px;
  }

  

  .home-pad{
    padding-top: 245px;
    padding-left: 58px;
  }
  
  .home-pad h1{
    font-size: 80px !important;
  }
  
  .home-pad h4{
    font-size: 20px;
  }
  
  .home-pad h3{
    font-size: 30px;
  }

  #home h2{
    font-size: 40px;
  }

  .sliderItem{
    margin-left: 10px;
  }

  .email-from {
    float: none;
    margin-right: 0px;
    width: auto;
    border: 0;
  }

  .contact-detail {
    margin-top: 30px;
    text-align: center !important;
  }

  .getintouch-btn-top{
    margin-top: 10px;
  }

}

/*-------------------------------------------------------portfolio start-----------------------------*/
 .img-onlineexam{
   background: url(images/onlineexam.png);
   background-size: cover;
   background-repeat: round;
 }

 .img-hackbu2020{
   background: url(images/hackbu2020.png);
   background-size: cover;
   background-repeat: no-repeat;
 }

 .img-blogsystem{
  background: url(images/blogsystem.png);
  background-size: cover;
  background-repeat: no-repeat;
 }

 .img-spamham{
  background: url(images/spamham.png);
  background-size: cover;
  background-repeat: no-repeat;
 }

 #portfolio h4{
   font-size: 18px;
   font-weight: bold;
 }

 #portfolio p{
   font-size: 15px;
 }

 #portfolio h5{
   font-size: 12px;
   font-weight: bold;
 }

 .img-contri{
   height: 20px;
 }

 .extra-project{
   height: 0px;
   background-color: #38a3ff;
 }

/*-------------------------------------------------------portfolio ends-----------------------------*/

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
    #menuToggle{
      top :-200px
    }
    .home-pad {
      padding-top: 20px;
      padding-left: 20px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .slider{
      margin-top: 55px;
    }
    .home-pad {
      padding-top: 20px;
      padding-left: 20px;
    }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .slider{
      margin-top: 55px;
    }
}

/* ----------- Galaxy S6 ----------- */
/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
}

/* ----------- Google Pixel ----------- */
/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
    
}


/* ----------- Google Pixel XL ----------- */
/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
}


/* ----------- Google Pixel 2 XL ----------- */
/* Landscape */
@media screen 
  and (min-device-width: 823px) 
  and (max-device-height: 411px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .slider{
      margin-top: 55px;
    }
}

/* ----------- Ipad pro ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape){
    .home-pad h1{
      font-size: 100px !important;
    }
    
    .home-pad h4{
      font-size: 30px;
    }
    
    .home-pad h3{
      font-size: 40px;
    }
  
    #home h2{
      font-size: 52px;
    }

    .home-pad {
      padding-top: 100px;
      padding-left: 61px;
  }

}

/* ----------- iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2 ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape){
    .home-pad {
      padding-top: 28px;
      padding-left: 40px;
    }
    .getintouch-btn-top {
      margin-top: -10px;
    }
  }

#home{
  min-height: 98vh !important;
}

#contact{
  min-height: 99vh !important;
}

#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:url("images/loader.gif") no-repeat center center #f1f1f1
}