body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .nav-bar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .nav-bar a.active {
    background-color: #8DB3B9;
    color: white;
  }
  
  .nav-bar a:hover:not(.active) {
    background-color: #CCDDE0;
    color: white;
  }
  
  div.content {
    margin-left: 350px;
    padding: 1px 16px;
    height: 1000px;
  }

  div.page {
    min-height:1000px;
  }

  .avatar{
    width: 180px;
    height: 180px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /* margin-left: 14px; */
    border-width: 52px;
    /* vertical-align: middle; */
    border: 3px solid #8DB3B9;
    object-fit: cover;
    /* margin: 10px 10px 10px 20px; */
    text-align: center;
    margin-top: 15px;
  }

  .pro-img{
    height: 38%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 7px;
  }

  .main-menu{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .li-border{
    border-bottom: 0.7px solid lightgrey;
    cursor: pointer;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .nav-bar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .nav-bar a {
      text-align: center;
      float: none;
    }
  }
  
  .slider {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .sliderItem {
    width: 15%;
    height: 46px;
    display: inline-block;
  }

  .contact-flag{
    background-color: #85C7DE;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-line{
    border: 1px solid #85C7DE;
    margin-bottom: 2px;
  }

  .skills-flag{
    background-color: #A0C4E2;
    padding-left: 10px;
    padding-right: 10px;
  }

  .skills-line{
    border: 1px solid #A0C4E2;
    margin-bottom: 2px;
  }

  .home-flag{
    background-color: #CFE8EF;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-line{
    border: 1px solid #CFE8EF;
    margin-bottom: 2px;
  }

  .about-flag{
    background-color: #C6DBF0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-line{
    border: 1px solid #C6DBF0;
    margin-bottom: 0.7px;
  }

  .portfolio-flag{
    background-color: #AED1E6;
    padding-left: 10px;
    padding-right: 10px;
  }

  .portfolio-line{
    border: 1px solid #AED1E6;
    margin-bottom: 2px;
  }

  .btn-color{
    background-color: #8DB3B9;
    width: -webkit-fill-available;
  }

  #load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9998;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
  }

  .loader{
    vertical-align: middle;
    text-align: center;
    z-index: 9999;
    background: url('https://loading.io/asset/383720') no-repeat center center;
  }



  article { 
    margin: 20px; 
    font-family: verdana, sans serif;
    font-size: 16px;
  }
  p { 
    margin-top: 20px; 
  }
  .example-container {
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
  }
  .caption {
    font-style: italic;
    color: BlueViolet;
    margin-top: 40px;
  }
  .caption-subhead {
    font-style: normal;
    font-weight: bold;
  }
  .image-example {
    float: left;
    background-color: #adb5bd;
    width: 285px;
    height: 180px;
    text-align:center;
    color: #FFFFFF;
    padding-top: 60px;
    margin: 5px 20px 10px 0;
    
  }
  .hyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 400px) {
    .img-size { min-width: 94% !important; }
  }

  .project-tile{
    background-color: #e9ecef;
    float: none;
    display: inline-block;
    box-shadow: inset 1px 1px 1px 1px rgba(255,255,255, .46), inset -1px -1px 1px 1px #adb5bd;
    margin: 0.5px;
    border: 1px solid #dee2e6;
    margin-top: 15px;
  }

  .wrapper {  
    overflow:hidden;
    margin-top: 15px;
  }
  
  .wrapper div {
     padding: 10px;
  }

  #one {
    background-color:  white;
    float:left; 
    margin-right:20px;
    width:50%;
  }

  #two { 
    background-color: white;
    overflow:hidden;
  }
  
  @media screen and (max-width: 400px) {
     #one { 
      float: none;
      margin-right:0px;
      width:auto;
      border:0;   
    }

    #two{
      margin-top: -17px;
    }
  }


  

  #one .wide {
    color : #A0C4E2;
  }

  #two .wide {
    color : #A0C4E2;
  }

  .back {
      background: none !important;
  }
  
  .skill {
      background: linear-gradient(90deg, #81EBF5 0%, #31B1CF 100%);
      text-align: right;
      padding-right: 20px;
      line-height: 30px;
      border-radius: 0 20px 20px 0;
  }

  .text-percent{
    position: relative;
    top: -15px;
  }

  .email-from{
    float:left;
    width:60%;
  }

  .contact-detail{
    overflow:hidden;
    text-align: right;
  }

  #contact_social{
    display: None;
  }

  @media screen and (max-width: 400px) {
    .email-from { 
     float: none;
     margin-right:0px;
     width:auto;
     border:0;   
   }

   .contact-detail{
     margin-top: 30px;
     text-align: center !important;
   }

   #contact_social{
     display:block;
   }
 }

 .contact-margin{
   margin-bottom: 25px;
 }


 /*--------------------------------time line css start-------------------------------*/

 header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 0px !important;
}



.project-name {
  text-align: center;
  padding: 10px 0;
}

header {
  background: #2b2e48;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #c6dbf0;
  float: left;
  font-family: "Dosis", arial, tahoma, verdana;
  font-size: 22px;
  font-weight: 500;
}

header .logo > span {
  color: #f7aaaa;
  font-weight: 300;
}

header .social {
  float: right;
}

header .social .btn {
  font-family: "Dosis";
  font-size: 14px;
  margin: 10px 5px;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #c6dbf0;
  left: 50%;
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  background: #c6dbf0;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}

#timeline .timeline-item .timeline-content {
  width: 46%;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content h5 {
  padding: 9px;
    background: #c6dbf0;
    color: #fff;
    margin: -12px -12px 0px -11px;
    font-weight: 300;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 46.2%;
  top: 11px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #c6dbf0;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 46.1%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #c6dbf0;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #c6dbf0;
  color: #c6dbf0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #c6dbf0;
  -moz-box-shadow: 2px 2px 0 #c6dbf0;
  -ms-box-shadow: 2px 2px 0 #c6dbf0;
  box-shadow: 2px 2px 0 #c6dbf0;
}

.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 400px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 91%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -11px;
    border-left: 0;
    border-right: 7px solid #c6dbf0;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

.smalldesc {
  overflow: hidden;
  display: none;
}

.smalldesc.expand {
  max-height: 500px;
  display: block !important;
  animation: fade_in_show 0.5s
}


@keyframes fade_in_show {
  0% {
       opacity: 0;
       transform: scale(0)
  }
  100% {
       opacity: 1;
       transform: scale(1)
  }
}

.lastelem-timeline{
  margin-bottom: 10px !important;
}

 /*--------------------------------time line css End-------------------------------*/

